.header {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: #545454;
  height: 74px;
  padding-top: 45px;
  width: calc(100% - 200px);
}

.header__logo {
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 320px) {
  .header {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: #545454;
    height: 74px;
    padding-top: 45px;
    width: 100%;
    padding-left: 0;
  }

  .header__logo {
    height: 24px;
    width: 126px;
    padding-left: 27px;
  }
}
