.locations {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  padding-top: 51px;
}

.locations__grid-item {
  width: 282px;
  background: white;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.locations__grid-item-image {
  margin-bottom: 25px;
  height: 282px;
  width: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.locations__grid-item-name {
  width: 219px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 29.05px;
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 25px;
}

.locations__grid-item-heart {
  border: none;
}

.locations__grid-item-heart:hover {
  opacity: 50%;
}

@media screen and (max-width: 1120px) {
  .locations {
    display: grid;
    grid-template-rows: repeat(4, 300);
    grid-template-columns: repeat(2, auto);
    padding-left: 19px;
  }
}

@media screen and (max-width: 320px) {
  .locations {
    display: grid;
    grid-template-rows: repeat(12, auto);
    grid-template-columns: repeat(1, auto);
  }
}
