.page {
  background-color: black;
  color: white;
  margin: 0;
  font-family: "Inter";
  align-self: center;
  padding: auto;
}

.content {
  width: calc(100% - 400px);
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .page {
    background-color: black;
    color: white;
    margin: 0;
    padding-left: 0;
    font-family: "Inter";
  }

  .content {
    width: calc(100% - 282px);
    margin: 0;
  }
}
