.profile {
  display: flex;
  padding-top: calc(160px - (74px + 45px));
  margin: 0 auto;
  width: calc(100% - 400px);
  min-width: 282px;
}

.profile__image {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  padding-left: calc(350px - (200px + 120px));
  align-items: center;
}

.profile__info-name {
  font-weight: 500;
  line-height: 48px;
  font-size: 42px;
  margin: 0;
  font-family: "Inter", "Times New Roman", Times, serif;
  border-radius: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__info-occupation {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  align-self: flex-start;
  padding-top: 7px;
  font-family: "Inter", "Times New Roman", Times, serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__info-edit {
  height: 24px;
  width: 24px;
  margin-left: 18px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
}

.profile__add {
  height: 50px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  width: 150px;
  margin-left: auto;
}

.profile__info-grouping {
  display: flex;
}

@media screen and (max-width: 900px) {
  .profile {
    display: flex;
    padding-top: calc(160px - (74px + 45px));
    flex-direction: column;
    align-items: center;
    padding-left: 19px;
    width: 282px;
    padding-right: 0;
  }

  .profile__info {
    display: flex;
    width: 282px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 0;
  }

  .profile__info-name {
    font-weight: 500;
    line-height: 26.63px;
    font-size: 22px;
    margin: 0;
  }

  .profile__info-occupation {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    align-self: center;
  }

  .profile__info-edit {
    height: 18px;
    width: 18px;
    margin-left: 10px;
    position: relative;
  }

  .profile__info-edit-image {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 7.5px;
    height: 7.5px;
  }

  .profile__info_empty-space {
    flex-grow: 0;
  }

  .profile__add {
    width: 100%;
    height: 50px;
    margin: 36px 0 0;
    border-width: 2px;
    border-color: white;
    border-style: solid;
  }

  .profile__add-image {
    width: 16px;
    height: 16px;
  }
}
