.profile {
  display: flex;
  padding-top: calc(160px - (74px + 45px));
  padding-right: 200px;
}

.profile__image {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  padding-left: calc(350px - (200px + 120px));
  align-items: center;
}

.profile__info_name {
  font-weight: 500;
  line-height: 48px;
  font-size: 42px;
  margin: 0;
  height: 48px;
}

.profile__info_occupation {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  align-self: flex-start;
  padding-top: 7px;
}

.profile__info_edit {
  height: 24px;
  width: 24px;
  padding-left: 18px;
}

.profile__info_empty-space {
  flex-grow: 1;
}

.profile__add-image {
  width: 150px;
  height: 50px;
}

.profile__info_grouping {
  display: flex;
}

@media screen and (max-width: 320px) {
  .profile {
    display: flex;
    padding-top: calc(160px - (74px + 45px));
    flex-direction: column;
    align-items: center;
    padding-left: 19px;
    width: 282px;
  }

  .profile__info {
    display: flex;
    width: 282px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .profile__info_name {
    font-weight: 500;
    line-height: 26.63px;
    font-size: 22px;
    margin: 0;
    height: 48px;
  }

  .profile__info_occupation {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    align-self: center;
  }

  .profile__info_edit {
    height: 18px;
    width: 18px;
    padding-left: 10px;
  }
  .profile__info_empty-space {
    flex-grow: 0;
  }

  .profile__add-image {
    width: 1fr;
    height: 50px;
  }
}
